<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Routee\WaymoreRoutee\Api\PostManagementInterface" type="Routee\WaymoreRoutee\Model\Api\PostManagement" />

    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="removeWaymoreLegacy" xsi:type="object">Routee\WaymoreRoutee\Console\RemoveLegacyData</item>
            </argument>
        </arguments>
    </type>

</config>

